body,table{
    color:#333;
    background:#fff;
    font-family:serif
}
.container{
    width:100%;
    max-width:840px;
    margin:32px auto
}
.center{
    text-align:center
}
table{
    border-collapse:collapse;
    width:100%
}
table,td,th{
    border:1px solid #000
}
td,th{
    padding:2px 5px;
    min-width:110px
}
p{
    margin-bottom:20px
}
ul {
    list-style-type: disc;
}
ol,p,table,ul{
    font-size:14px;
    line-height:20px
}
ol.alpha{
    list-style:lower-alpha
}
ol.up-alpha{
    list-style:upper-alpha
}
ol.list-none{
    list-style: none;
}
.bold>li,.up-alpha>li{
    font-weight:700
}
.b-under{
    font-weight:700;
    text-decoration:underline
}
img {
    display: block;
    max-width: 250px;
    margin: 0 0 24px 0;
}