.fa-tbm-on {
    opacity: 1;
    color: #B8860B;
}

.fa-tbm-off {
    opacity: 0.35;
    color: #B8860B;
}

.postbox-container .alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.postbox-container .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.postbox-container .alert {
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.postbox-container .label,
.postbox-container .badge {
    margin-left: 2px;
    display: inline-block !important;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}

.postbox-container .label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.postbox-container .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.postbox-container .label:empty,
.postbox-container .badge:empty {
    display: none
}

.postbox-container a.label:hover,
.postbox-container a.label:focus,
.postbox-container a.badge:hover,
.postbox-container a.badge:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.postbox-container .label-important,
.postbox-container .badge-important {
    background-color: #b94a48
}

.postbox-container .label-important[href],
.postbox-container .badge-important[href] {
    background-color: #953b39
}

.postbox-container .label-warning,
.postbox-container .badge-warning {
    background-color: #f89406
}

.postbox-container .label-warning[href],
.postbox-container .badge-warning[href] {
    background-color: #c67605
}

.postbox-container .label-success,
.postbox-container .badge-success {
    background-color: #468847
}

.postbox-container .label-success[href],
.postbox-container .badge-success[href] {
    background-color: #356635
}

.postbox-container .label-info,
.postbox-container .badge-info {
    background-color: #3a87ad
}

.postbox-container .label-info[href],
.postbox-container .badge-info[href] {
    background-color: #2d6987
}

.postbox-container .label-inverse,
.postbox-container .badge-inverse {
    background-color: #333333
}

.postbox-container .label-inverse[href],
.postbox-container .badge-inverse[href] {
    background-color: #1a1a1a
}

.postbox-container .btn .label,
.postbox-container .btn .badge {
    position: relative;
    top: -1px;
}

.postbox-container .btn-mini .label,
.postbox-container .btn-mini .badge {
    top: 0
}

span.first {
    padding: 2px 10px;
    background: bisque;
}

span.second {
    padding: 2px 10px;
    background: bisque;
    background: cornflowerblue;
    color: #fff;
    display: none;
}

span.more {
    background: cornflowerblue;
    color: #fff;
    padding: 2px 10px
}

span.more:hover {
    background: crimson;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
}

span.first {
    padding: 2px 10px;
    background: bisque;
}

span.second {
    padding: 2px 10px;
    background: bisque;
    background: cornflowerblue;
    color: #fff;
    display: none;
}

span.more {
    background: cornflowerblue;
    color: #fff;
    padding: 2px 10px;
}

span.more:hover {
    background: crimson;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
}

#element-filter-administrator .mix, #element-filter-author .mix {
    opacity: 0;
    display: none;
}

.element-selector span {
    cursor: pointer
}

.badge.active {
    background-color: #468847;
}

.is-disabled {
    pointer-events: none;
}

@media only screen and (max-width: 1800px) and (min-width: 1500px) {
    body.index-php #wpbody-content #dashboard-widgets #postbox-container-1 {
        width: 100%;
    }
}