.button-ok {
    background: #4CAF50 !important;
    color: #fff !important;
    cursor: not-allowed;
    pointer-events: none;
}

.button-ko {
    background: #af1717 !important;
    color: #fff !important;
    cursor: not-allowed;
    pointer-events: none;
}

.button-save-gallery {
    margin-top: 12px !important
}

.button .badge {
    position: relative;
    top: -1px;
}

.save-gallery-label:not(:empty) {
    padding: 0 10px;
}

.save-gallery-label.instructions {
    font-style: italic;
}