.admin-banner-options h2 {
    margin-bottom: 20px;
}

.admin-banner-options h3, .admin-banner-options h4 {
    margin: 0px 0 5px 0;
}

.admin-banner-options p.submit {
    float: left;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.admin-banner-options p.submit input {
    text-transform: uppercase;
    float: left;
    width: 100%;
    display: none;
    margin: 20px 0 0 0;
}

.select-zone-container {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.select-zone-container .select-zone-content {
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding-right: 5px;
}

.select-zone-container .select-zone-content.right {
    padding-left: 5px;
    padding-right: 0;
}

.select-zone-container .select-zone.global {
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin: 0 5px;
    line-height: 75px;
}

.select-zone-container .select-zone-content .select-zone:first-child {
    margin-bottom: 5px;
}

.select-zone-container .select-zone {
    float: left;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px #BDBDBD;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 1%;
    margin: 0;
    cursor: pointer;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-height: 35px;
    color: #52373C;
    border-radius: 0px 0px 0px;
}

.select-zone-container .select-zone:last-child {
    margin-right: 0;
}

.select-zone-container .select-zone.selected {
    background: #D4D4D4;
    color: #3A3A3A;
}

.goto-tag {
    text-transform: uppercase;
    font-size: 12px;
    color: #3C87CC;
    cursor: pointer;
    font-weight: bolder;
    margin: 0 2.5px;
}

.zone-container {
    float: left;
    width: 100%;
    display: block;
}

.zone-container .link-container {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.zone-options-container, .zone-secondary-container, .div_select_tag {
    float: left;
    width: 100%;
    display: block;
    /* margin-bottom: 10px; */
}

.div_select_tag, .post-select-div, .type-term-select {
    margin-bottom: 10px;
}

.alto10 {
    height: 10px;
    display: block;
    clear: both;
    float: left;
    width: 100%;
    pointer-events: none;
}

select.tag-select, select.post-select {
    margin-bottom: 10px !important;
}

.zone-options-container select, .zone-secondary-container select {
    margin-bottom: 20px;
}

.page-link-div, .page-links-div {
    float: left;
    width: 100%;
    display: block;
}

.page-links-div {
    max-height: 230px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #BDBDBD;
    min-height: 138px;
    overflow-y: scroll;
    margin-top: 10px;
}

.page-links-div .banner-div {
    padding: 2px 5px;
    border-bottom: 1px solid #E3E3E3;
}

.zone-container .banner-div {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.zone-container .banner-div:last-child {
    margin-bottom: 0px !Important;
}

.zone-container .banner-div .banner-type {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    float: left;
    clear: both;
    width: 100%;
}

.zone-container .banner-div .banner-type span {
    float: left;
    margin-right: 10px;
}

.zone-container .banner-div .banner-type .switch_on_off, .switch_on_off_label {
    float: left;
}

.zone-container .banner-div .banner-type .switch_on_off_not_available .disabled_post_type {
    float: none;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 90%;
    font-weight: 600;
}

.zone-container .banner-div .banner-type .switch_on_off_not_available .disabled_post_type:after {
    content: ",";
}

.zone-container .banner-div .banner-type .switch_on_off_not_available .disabled_post_type:last-child:after {
    content: "";
}

.zone-container .banner-div .banner-type .switch_on_off_not_available {
    color: #B10000;
    line-height: 18px;
    float: left;
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    text-transform: initial;
}

.not_available_parent, .zone-container .banner-div .banner-type .switch_on_off.disabled {
    pointer-events: none;
    opacity: 0.2;
}

textarea::disabled {
    background: rgba(234, 234, 234, 0.99);
    opacity: 0.6;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    float: left;
    width: 50px;
    height: 18px;
    background-color: #dddddd;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    margin-right: 5px;
}

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #B10000;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 17.4px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    margin-top: -1px;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #1BC72F;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}

.zone-container .banner-div .banner-content textarea, .category-select, .taxonomy-select, .term-select, .tag-select, .post-select, .page-select, .post-post-select, .taxonomy-type-select, .type-term-select, .types-select {
    width: 100%;
}

.admin-banner-options strong {
    display: block;
    position: relative;
    float: left;
}

.admin-banner-options .link-add, .admin-banner-options .link-mod, .admin-banner-options .link-del, .admin-banner-options .link-all {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
    background: transparent none no-repeat scroll center left;
    text-transform: uppercase;
    font-size: 12px;
    color: #5b9dd9;
}

.admin-banner-options .link-mod {
    background-image: url("../img/link-mod.png");
    padding-left: 16px;
    margin: 0;
}

.admin-banner-options .link-del {
    background-image: url("../img/link-del.png");
    padding-left: 16px;
    margin-left: 6px;
    margin-right: 5px;
}

.url-buttons a {
    height: 18px;
    line-height: 18px;
}

.admin-banner-options .link-container input {
    width: 100%;
}

.admin-banner-options .link-zone td {
    border-bottom: 1px solid #cccccc;
}

#wpcontent .admin-banner-options .category-select, #wpcontent .admin-banner-options .term-select, #wpcontent .admin-banner-options .tag-select, #wpcontent .admin-banner-options .post-select, #wpcontent .admin-banner-options .taxonomy-select, #wpcontent .admin-banner-options .page-select, #wpcontent .admin-banner-options .post-post-select, #wpcontent .admin-banner-options .taxonomy-type-select, #wpcontent .admin-banner-options .type-term-select, #wpcontent .admin-banner-options .types-select {
    height: auto;
}

table.list-allowed {
    border-collapse: collapse;
    border-spacing: 0 !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #CECECE;
    border-bottom: none;
}

.list-allowed tr:nth-child(odd) {
    background-color: rgba(201, 201, 201, 0.2);
    width: 100%;
}

.list-allowed tr:nth-child(even) {
    background-color: #ffffff;
}

.max_width_td {
    max-width: 30%;
    overflow: hidden;
    width: 30%;
}

.max_width_td input {
    max-width: 100%;
}

.list-allowed td {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}

.list-allowed td.delete_this_banner {
    color: #E20000;
    padding: 5px;
    cursor: pointer;
}

.list-allowed td.add_this_banner {
    color: white;
    padding: 0 6px;
    cursor: pointer;
    height: 100%;
    background: rgb(55, 183, 55);
}

.list-allowed thead th, .list-allowed tfoot td {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 0 !Important;
    background: transparent;
    background: #CACACA;
}

.list-allowed tfoot tr {
    background-color: #4c4c4c;
}

.list-allowed tfoot tr td {
    padding: 5px 15px;
    vertical-align: middle;
}

.list-allowed tfoot td input, .list-allowed tfoot td textarea, .list-allowed tfoot td select {
    width: 100%;
    resize: none;
    font-size: 12px;
    border-radius: 0px !important;
    text-align: center;
    min-height: 32px;
}

div[class*=language-] {
    padding: 10px;
    overflow: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.28);
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #CECECE;
}

div[class*=language-] pre {
    color: #A91515;
    width: 100%;
    overflow: auto;
    tab-size: 2;
}

div[class*=language-] p {
    font-size: 18px;
    margin: 5px 0 10px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

div.textarea[class*=language-] {
    font-family: monospace;
    text-align: left;
    white-space: pre;
    line-height: 1.5;
    width: 100%;
    background: white;
    display: block;
    margin: auto;
    color: #000000;
    tab-size: 2;
}

.behavior-type {
    width: 100%;
    background: white;
    display: block;
    margin: auto;
    color: #000000;
    tab-size: 2;
    padding: 10px;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #CECECE;
    margin: 5px 0;
    box-shadow: 2px 2px 5px rgba(70, 70, 70, 0.29);
}

.behavior-type >p>span>label {
    float: none;
    display: inline-block;
    position: relative;
    top: -1px;
}

.behavior-type >p {
    margin: 5px 0;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    position: relative;
    text-transform: uppercase;
}

.behavior-type >p>small {
    font-size: 13px;
    line-height: 15px;
    color: #565656;
    text-transform: initial;
}

.save-topic-tax {
    background: rgb(55, 183, 55);
    color: white;
    width: 100%;
    border: 0;
    padding: 0;
    line-height: 2.2;
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.6.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2016 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100% !Important;
    border: 0 !Important;
}

.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}

.chosen-container a {
    cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}

.chosen-container-single .chosen-default {
    color: #999;
}

.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/chosen-sprite.png') no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url('../img/chosen-sprite.png') no-repeat 100% -20px;
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}

.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}

.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}

.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    /* padding: 2px; */
    width: 100%;
    height: auto;
    /* border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); */
    cursor: text;
}

.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 2px 3px 2px;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
    word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin: 0 1px;
    width: calc(100% - 2px)
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.chosen-disabled .chosen-single {
    cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}

.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}

.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}

.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}

.chosen-rtl .chosen-choices li {
    float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
    left: 9999px;
}

.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url('../img/chosen-sprite.png') no-repeat -30px -20px;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px;
    direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
        background-image: url('../img/chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/* @end */
