.adv_button {
    cursor: pointer;
    background-color: #1e8cc1;
    color: #fff;
    padding: 2px 6px;
    font-weight: 800;
    margin-left: 10px
}

.adv_hacker {
    display: none;
    background-color: black;
    padding: 10px;
    color: #20C20E;
    font-family: Monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
}

.tbm-amp .adv_hacker {
    display: block;
}

.tbm-amp .adv_button {
    display: none;
}

.adv_zone {
    display: block;
    clear: both;
    width: 100%;
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    margin-bottom: 4px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.adv_zone > div {
    padding: 5px 10px;
    text-align: center;
}

.adv_zone .zone_name {
    text-transform: uppercase;
}

.badge {
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    padding: .25em .4em;
    font-size: 95%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}