.wprm-user-rating {
    &.wprm-user-rating-allowed {
        .wprm-rating-star {
            cursor: pointer;
        }
    }
}

.wprm-popup-modal-user-rating {
    .wprm-popup-modal__container {
        width: 95%;
        max-width: 500px;
    }

    #wprm-user-ratings-modal-message {
        display: none;
    }

    .wprm-user-ratings-modal-recipe-name {
        text-align: center;
        margin: 5px auto;
        max-width: 350px;
    }

    .wprm-user-ratings-modal-stars-container {
        text-align: center;
        margin-bottom: 5px;
    }

    textarea {
        display: block;
        width: calc( 100% - 20px );
        padding: 10px;
        resize: vertical;
        min-height: 75px;
        border-radius: 4px;
        border: 1px solid #cecece;
        font-family: inherit;
        font-size: 0.9em;
        line-height: 1.5;
    }

    .wprm-user-rating-modal-field {
        display: flex;
        align-items: center;
        margin-top: 10px;

        label {
            min-width: 70px;
            margin-right: 10px;
        }
        input {
            flex: 1;
            display: block;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #cecece;
            padding: 5px 10px;
            font-size: 0.9em;
            line-height: 1.5;
        }
    }

    .wprm-user-rating-modal-comment-meta {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    }
    &.wprm-user-rating-modal-logged-in {
        .wprm-user-rating-modal-comment-meta {
            display: none;
        }
    }
    &.wprm-user-rating-modal-has-comment {
        .wprm-user-rating-modal-comment-meta {
            max-height: 200px;
            transition: max-height 0.25s ease-in;
        }
        .wprm-user-rating-modal-submit-rating {
            display: none;
        }
    }
    &:not(.wprm-user-rating-modal-has-comment) {
        .wprm-user-rating-modal-submit-comment {
            display: none;
        }
    }

    button {
        margin-right: 5px;

        &:disabled,
        &[disabled]{
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    #wprm-user-rating-modal-errors {
        display: inline-block;

        font-size: 0.8em;
        color: darkred;

        div {
            display: none;
        }
    }

    #wprm-user-rating-modal-waiting,
    #wprm-user-rating-modal-thank-you {
        display: none;
    }
}

fieldset.wprm-user-ratings-modal-stars {
    position: relative;
    display: inline-block; 
    padding: 0;
    margin: 0;
    border: 0;
    background: none;

    legend {
        position: absolute;
        opacity: 0;
        left: 0;
    }

    br {
        display: none;
    }

    input[type=radio] {
        float: left;
        margin: 0 !important;
        padding: 0 !important;
        width: 16px;
        height: 16px;
        min-width: 0;
        min-height: 0;
        opacity: 0;
        border: 0;
        cursor: pointer;

        &:first-child {
            margin-left: -16px;
        }
    }
    span {
        position: absolute;
        pointer-events: none;
        width: 80px;
        height: 16px;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 0;

        svg {
            width: 100% !important;
            height: 100% !important;
        }
    }
    
    input:checked + span,
    input:hover + span {
        opacity: 1;
    }
    
    input:hover + span ~ span {
        display: none;
    }
}

.rtl {
    fieldset.wprm-user-ratings-modal-stars {
        span {
            left: inherit;
            right: 0;

            svg {
                transform: scale(-1,1);
            }
        }
    }
}