
/* Header area */

body.settings_page_facetwp {
    background: #fff;
}

a {
    color: #50b7ff;
}

a:hover {
    color: #209cee;
}

#icon-facetwp {
    float: left;
    padding: 8px 10px 0 0;
}

.facetwp-header {
    position: relative;
    margin: 0 0 20px -20px;
    padding: 0 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
}

.facetwp-logo {
    line-height: 28px;
    background: url(../images/logo.png) no-repeat;
    background-size: 38px 28px;
    display: inline-block;
    width: 38px;
}

.facetwp-version {
    font-size: 11px;
    margin-right: 14px;
    color: #906DBE;
}

.facetwp-tab {
    cursor: pointer;
    display: inline-block;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    line-height: 44px;
    margin-bottom: -1px;
    padding: 0 12px;
    color: #333;
}

.facetwp-tab.active {
    background-color: #fff;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.facetwp-actions {
    float: right;
    margin-top: 8px;
}

.facetwp-response {
    display: none;
    position: absolute;
    top: 44px;
    right: 20px;
    margin-top: 10px;
    text-align: right;
    max-width: 360px;
    white-space: nowrap;
    overflow: auto;
}

[v-cloak] {
    display: none;
}

.btn-split,
.btn-normal {
    position: relative;
    display: inline-block;
    background-color: #dc3545;
    border: 1px solid transparent;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
}

.btn-split {
    margin-right: 4px;
}

.btn-normal {
    padding: 4px 8px;
    background-color: #50b7ff;
    color: #fff;
}

.btn-normal:hover {
    background-color: #209cee;
}

.btn-gray {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #555;
}

.btn-gray:hover {
    border-color: #999;
    background-color: #f8f8f8;
}

.btn-small {
    padding: 2px 8px;
}

.btn-split .btn-label,
.btn-split .btn-caret {
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
}

.btn-split .btn-label {
    padding: 4px 12px;
}

.btn-split .btn-label:hover,
.btn-split .btn-caret:hover {
    background-color: #c82333;
}

.btn-split .fa-caret-down {
    pointer-events: none;
}

.btn-split .btn-dropdown {
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 12px;
    width: 180px;
    top: 30px;
    left: 0;
    z-index: 10;
}

.btn-split .dropdown-inner div {
    padding: 10px;
}

.btn-split .dropdown-inner div:hover {
    background-color: #f8f8f8;
}

.facetwp-rebuild.flux {
    animation: glowing 2s infinite;
    opacity: 1;
}

@keyframes glowing {
    0% { box-shadow: 0; }
    25% { box-shadow: 0 0 15px #c82333; }
    50% { box-shadow: 0; }
}

/* Loading animation */

.facetwp-loading {
    margin: 40px auto;
    position: relative;
    text-indent: -9999em;
    border: 4px solid #fff;
    border-left: 4px solid #222;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

.facetwp-loading,
.facetwp-loading::after {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Content boxes */

.facetwp-region {
    display: none;
    font-size: 13px;
}

.facetwp-region.active {
    display: block;
}

.facetwp-region input,
.facetwp-region select,
.facetwp-region textarea {
    font-size: 12px;
}

.facetwp-region iframe {
    width: 100%;
    height: 600px;
}

.facetwp-subnav {
    padding-bottom: 40px;
}

.facetwp-grid {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-gap: 5px;
}

.facetwp-btn {
    display: inline-block;
    cursor: pointer;
    padding: 3px 6px;
    border: 1px solid #dc3545;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #dc3545;
}

.facetwp-btn:hover {
    background: #dc3545;
    color: #fff;
}

.facetwp-region h3 {
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.facetwp-region input[type="text"],
.facetwp-region select {
    width: 200px;
}

.facet-fields input.facet-step,
.facet-fields input.facet-count,
.facet-fields input.facet-soft-limit {
    width: 50px;
}

.facetwp-region textarea {
    width: 100%;
    height: 160px;
    font-family: 'Courier New', sans-serif;
    white-space: pre;
    overflow: auto;
}

.facetwp-region .item-name {
    border: none;
    box-shadow: none;
    margin: 0;
    color: #50b7ff;
}

.table-row {
    margin-bottom: 15px;
}

.table-row .row-label {
    font-size: 16px;
    padding-bottom: 15px;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

.facetwp-region .icon-question {
    display: inline-block;
    margin-left: 4px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    line-height: 1;
    width: 12px;
    height: 12px;
    font-size: 11px;
    text-align: center;
}

.facetwp-region .icon-question:before {
    content: none;
}

.facetwp-region .side-link {
    float: right;
    color: #50b7ff;
    cursor: pointer;
    line-height: 20px;
}

.facetwp-region .side-link a {
    text-decoration: none;
}

.facetwp-region .open-builder:before {
    content: '\f107';
    font: 400 20px/1 dashicons;
    vertical-align: top;
    padding-right: 4px;
}

.facetwp-region .fs-dropdown {
    max-width: 400px;
    width: auto;
}

/* Data Source dropdown */

.name-source .fs-dropdown {
    width: 300px;
}

/* Cards UI */

.facetwp-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.facetwp-card {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.facetwp-card:hover {
    border-color: #50b7ff;
}

.content-templates .facetwp-cards {
    grid-template-columns: 1fr;
}

.content-templates .facetwp-card {
    background: #f8f8f8;
}

.facetwp-cards .card-delete {
    position: absolute;
    visibility: hidden;
    width: 20px;
    height: 20px;
    line-height: 1;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #50b7ff;
}

.facetwp-cards .card-delete::after {
    content: '\f335';
    font: 400 20px/1 dashicons;
}

.facetwp-cards .card-label,
.facetwp-cards .card-type {
    display: inline-block;
}

.facetwp-cards .card-label {
    cursor: move;
}

.facetwp-cards .card-type {
    color: #999;
    padding-left: 6px;
    visibility: hidden;
}

.facetwp-card:hover .card-type,
.facetwp-card:hover .card-delete {
    visibility: visible;
}

/* Settings page */

.facetwp-region .import-code {
    height: 100px;
}

.field-notes {
    color: #888;
    font-style: italic;
}

.facetwp-subnav input.facetwp-search {
    font-size: 13px;
    padding: 6px 36px 6px 12px;
    width: 300px;
}

.facetwp-subnav .search-wrap {
    position: relative;
}

.facetwp-subnav .search-wrap::after {
    content: '\f179';
    position: absolute;
    top: -4px;
    right: 6px;
    font: 400 24px/1 dashicons;
    color: #333;
}

.facetwp-region .facetwp-subnav a {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    margin: 0 20px 0 0;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    color: #333;
}

.facetwp-subnav a.active {
    border-color: #50b7ff;
    color: #50b7ff;
}

.facetwp-settings-section {
    display: none;
}

.facetwp-settings-section.active {
    display: block;
}

.facetwp-setting.slim {
    width: 100px;
}

/* Tooltips */

.facetwp-tooltip {
    display: inline;
}

.facetwp-tooltip-content {
    display: none;
}

#powerTip a {
    color: #ddd;
}

#powerTip {
    cursor: default;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    color: #fff;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    max-width: 400px;
}

#powerTip:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    margin-top: -5px;
    border-right: 10px solid #333;
    border-right: 10px solid rgba(0, 0, 0, 0.8);
}

/* Edit screens */

.facetwp-row {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-bottom: 20px;
}

.facetwp-content.type-search .field-data-source,
.facetwp-content.type-availability .field-data-source {
    display: none;
}

.facetwp-content hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #ccc, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #ccc, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #ccc, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #ccc, #f0f0f0);
    margin: 0 0 20px 0;
}

/* Query builder */

.qb-wrap {
    font-size: 16px;
}

.qb-wrap .side-link {
    font-size: 13px;
}

.qb-wrap .qb-condition {
    padding-top: 15px;
}

.qb-wrap .qb-compare,
.qb-wrap .qb-orderby,
.qb-wrap .qb-type,
.qb-wrap .qb-order {
    width: 100px;
}

.qb-wrap .qb-object,
.qb-wrap .qb-compare,
.qb-wrap .qb-orderby,
.qb-wrap .qb-type,
.qb-wrap .qb-order {
    height: 40px;
}

.qb-wrap .qb-posts-per-page {
    width: 50px;
}

.qb-wrap .qb-add {
    padding-top: 15px;
}

.qb-wrap .qb-remove {
    font-size: 20px;
    margin-left: 5px;
    vertical-align: top;
    cursor: pointer;
    color: #dc3545;
}

.qb-wrap .multiselect {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    width: auto;
}

/* Responsive */

@media (max-width: 960px) {
    .content-facets .facetwp-cards {
        grid-template-columns: 1fr;
    }

    .facetwp-grid {
        grid-template-columns: 1fr 40%;
    }
}

@media (max-width: 782px) {
    .facetwp-grid {
        grid-template-columns: 1fr;
    }
}

/* Boolean toggle */

.facetwp-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.facetwp-switch input {
    display: none;
}

.facetwp-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}

.facetwp-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.facetwp-switch input:checked + .facetwp-slider {
    background-color: #23d160;
}

.facetwp-switch input:checked + .facetwp-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Template content */

.template-tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.template-tabs.top-level {
    margin-bottom: 40px;
}

.template-tabs span {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f8f8f8;
    margin-left: 5px;
    margin-bottom: -1px;
    cursor: pointer;
}

.template-tabs span.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

/* Layout builder */

.builder-wrap {
    display: grid;
    grid-template-columns: 1fr 280px;
    grid-column-gap: 20px;
    min-height: 600px;
    user-select: none;
}

.builder-intro {
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}

.builder-canvas {
    position: relative;
    outline: 1px solid #000;
}

.builder-edge {
    position: absolute;
    outline: 2px solid #fff;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 10px;
}

.builder-edge.vertical {
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
}

.builder-buttons div {
    display: inline-block;
    padding: 5px;
    margin: 0 5px 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    cursor: move;
}

.builder-row,
.builder-col,
.builder-item {
    position: relative;
}

.builder-row:hover {
    outline: 1px solid #71d7f7;
}

.builder-row-inner {
    position: relative;
    min-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 6px;
}

.builder-row-actions,
.builder-col-actions,
.builder-item-actions {
    display: none;
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.builder-row-actions svg,
.builder-col-actions svg,
.builder-item-actions svg {
    padding: 0 4px;
}

.builder-col-actions:hover {
    width: auto;
}

.builder-row-actions {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #41c9f4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.builder-col-actions {
    top: 0;
    left: 0;
    width: 20px;
    overflow: hidden;
    background-color: #69747E;
}

.builder-item-actions {
    top: 0;
    right: 0;
    width: 20px;
    overflow: hidden;
    background-color: #41c9f4;
}

.builder-row:hover > .builder-row-actions,
.builder-col:hover > .builder-col-actions,
.builder-item:hover > .builder-item-actions {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.builder-col:hover {
    outline: 1px solid #69747E;
}

.builder-col .resizer {
    position: absolute;
    top: 0;
    right: -6px;
    width: 5px;
    height: 100%;
    cursor: col-resize;
}

.builder-row:hover .builder-col .resizer {
    background-color: #ddd;
}

.builder-col-inner {
    position: relative;
    min-height: 30px;
    margin: 10px;
}

.builder-col-inner.empty-col {
    height: calc(100% - 20px);
}

.builder-item:hover {
    outline: 1px solid #41c9f4;
}

.builder-item-inner {
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    word-break: break-all;
    overflow: hidden;
    cursor: default;
}

.builder-item-inner.is-hidden {
    opacity: 0.4;
}

.builder-item-inner .item-drag {
    cursor: move;
}

.builder-first-add {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px dashed #d5dadf;
    font-size: 20px;
    color: #a4afb7;
    height: 30px;
    cursor: default;
}

.popover {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 20px;
    background-color: #fff;
    outline: 1px solid #69747E;
    z-index: 10;
}

.popover-search {
    border-bottom: 1px solid #ddd;
}

.popover-search input[type="text"] {
    width: 200px;
    box-shadow: none;
    outline-style: none;
    border-color: transparent;
    line-height: 26px;
    padding: 0px 10px;
}

.popover-choices {
    max-height: 200px;
    padding: 4px 0;
    overflow: scroll;
}

.popover-choices div {
    padding: 4px 10px;
    cursor: pointer;
}

.popover-choices div:hover {
    background-color: #f8f8f8;
}

.builder-crumb {
    display: inline-block;
}

.builder-setting {
    margin-bottom: 10px;
}

.builder-setting input[type="number"] {
    width: 60px;
}

.builder-setting .utrbl {
    display: inline-block;
    width: 50px;
}

.builder-setting .utrbl-unit {
    display: none;
}

.builder-setting .utrbl input[type="text"],
.builder-setting .utrbl input[type="number"] {
    width: 46px;
    height: auto;
}

.builder-setting textarea {
    height: 100px;
}

.builder-setting .utrbl span {
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    color: #bbb;
}

.builder-setting .text-style-icons span {
    display: inline-block;
    font-size: 16px;
    padding: 4px 8px;
    margin: 4px 2px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.builder-setting .text-style-icons span.active {
    background-color: #333;
    color: #fff;
}
